<!-- app/views/sessions/new.html.erb -->
<%= form_with class:"nc-form", url: login_path, scope: :user do |form| %>
  <h1>Sign in</h1>
  <div class="nc-form-input">
    <%= form.email_field :email, required: true, placeholder: "Email" %>
  </div>
  <div class="nc-form-input">
    <%= form.password_field :password, required: true, placeholder: "Password" %>
  </div>
  <div class="nc-form-input">
    <%= form.label :remember_me %>
    <%= form.check_box :remember_me %>
  </div>
  <%= form.submit "Sign In", class:"nc-form-submit-button" %>
<% end %>
<div style="margin-top: 4rem;">
  <h5>Don't have an account?</h5>
  <a class="button outline primary nc-form-submit-button" href="/sign_up" style="margin-top: 0" >Create Account</a>
</div>