<body>
<%= stylesheet_link_tag "login" %>
<div>
  <%= form_with :html => { :id => 'sign-in-form' } do |form| %>
    <%= form.text_field :name, type: "text", placeholder: "Name", class: "login-input" %>
    <%= form.text_field :email, type: "email", placeholder: "Email", class: "login-input" %>
    <%= form.text_field :password, type: "password", placeholder: "Password", class: "login-input" %>
    <%= form.text_field :password_confirm, type: "password", placeholder: "Password (again)", class: "login-input" %>
    <%= form.submit class: "button primary sign-in-button" %>
  <% end %>

</div>
</body>