<%= stylesheet_link_tag "forms" %>
<%= form_with class:"nc-form", model: @user, url: account_path, method: :put do |form| %>
  <h1>Edit Account</h1>
  <%= render partial: "shared/form_errors", locals: { object: form.object } %>
  <div class="nc-form-input">
    <%= form.label :name, "Current Name" %>
    <%= form.text_field :name, disabled: false %>
  </div>
  <div class="nc-form-input">
    <%= form.label :email, "Email (leave blank if you don't want to change it)" %>
    <%= form.email_field :unconfirmed_email, placeholder: @user.email %>
  </div>
  <div class="nc-form-input">
    <%= form.label :password, "Password (leave blank if you don't want to change it)" %>
    <p class="grouped" >
      <%= form.password_field :password, placeholder: "Password" %>
      <%= form.password_field :password_confirmation, placeholder: "Password (again)" %>
    </p>
  </div>
  <hr/>
  <div class="nc-form-input">
    <%= form.label :current_password, "Current password (we need your current password to confirm your changes)" %>
    <%= form.password_field :current_password, required: true %>
  </div>
  <%= form.submit "Update Account",  class:"nc-form-submit-button" %>
<% end %>
<h2 style="margin-top: 5rem">Current Logins</h2>
<% if @active_sessions.any? %>
  <%= button_to "Log out of all other sessions", destroy_all_active_sessions_path, method: :delete %>
  <table>
    <thead>
    <tr>
      <th>User Agent</th>
      <th>IP Address</th>
      <th>Signed In At</th>
      <th>Sign Out</th>
    </tr>
    </thead>
    <tbody>
    <%= render @active_sessions %>
    </tbody>
  </table>
<% end %>