<%= form_with class:"nc-form", model: @user, url: sign_up_path do |form| %>
  <h1>Create your account</h1>
  <%= render partial: "shared/form_errors", locals: { object: form.object } %>
  <div class="nc-form-input">
    <%= form.text_field :name, required: true, placeholder: "Name" %>
  </div>
  <div class="nc-form-input">
    <%= form.email_field :email, required: true, placeholder: "Email" %>
  </div>
  <div class="nc-form-input">
    <%= form.password_field :password, required: true, placeholder: "Password" %>
  </div>
  <div class="nc-form-input">
    <%= form.password_field :password_confirmation, required: true, placeholder: "Password (again)" %>
  </div>
  <%= form.submit "Sign Up", class:"nc-form-submit-button" %>
<% end %>