<table>
  <thead>
  <tr>
    <th>Group</th>
    <th>Members</th>
    <th>Access level</th>
    <th>Visibility</th>
    <th>Join type</th>
    <th class="is-right">Action</th>
  </tr>
  </thead>
  <tbody>
  <% @groups.each do |group| %>
    <tr>
      <td>
        <strong>
          <%= link_to group.name, group, class: 'text-dark' %>
        </strong>
      </td>
      <td><%= group.memberships.size %></td>
      <td><%= group.membership(current_user).access_level %></td>
      <td><%= group.visibility_type_title %></td>
      <td><%= group.join_type_title %></td>
      <% if group.can_be_deleted(current_user) %>
        <td class="is-right"><%= button_to "Delete", '/groups', method: :delete, class: 'button error' %></td>
      <% else %>
        <td class="is-right"><%= button_to "Leave", '/groups', method: :delete, class: 'button primary outline' %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>