<table>
  <thead>
  <tr>
    <th>Event Name</th>
    <th>Group</th>
    <th>Start</th>
    <th>End</th>
  </tr>
  </thead>
  <tbody>
  <% @events.each do |event| %>
    <tr>
      <td>
        <strong>
          <%= link_to event.name, event, class: 'text-dark' %>
        </strong>
      </td>
      <td>
          <%= link_to event.group.name, event.group, class: 'text-dark' %>
      </td>
      <td><%= event.start_time %></td>
      <td><%= event.end_time %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= month_calendar events: @events do |date, meetings| %>
  <%= date %>

  <% meetings.each do |meeting| %>
    <%= link_to meeting, class: 'text-white', :action => 'go' do %>
      <div class="month-calendar-event-container">
        <span style="font-size: 1.2rem; font-weight: bold; white-space:pre;"><%= meeting.start_time.hour %>:<%= meeting.start_time.min %> </span>
        <span class="month-calendar-event-title"><%= meeting.name %></span>
      </div>
    <% end %>
  <% end %>
<% end %>