<!DOCTYPE html>
<html>
<head>
  <title>GroupCalendarServerr</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/chota@latest">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "forms" %>
  <%= stylesheet_link_tag "common" %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>

<body>
<%= stylesheet_link_tag "common" %>
<div class="nav-container" style="height: 100%">
  <nav class="nav">
    <a class="brand" style="width: auto;" href="/"><%= ENV['APP_NAME'] %></a>
    <% if user_signed_in? %>
      <a class="<%= 'active' if controller.controller_name == 'dashboard' %>" href="/dashboard">Dashboard</a>
      <a class="<%= 'active' if controller.controller_name == 'groups' %>" href="/groups">Groups</a>
      <a class="<%= 'active' if controller.controller_name == 'documentation' %>" href="/documentation">Documentation</a>
      <div class="nav-right">
        <div style="padding: 1rem">
          <details class=dropdown>
            <summary class="button primary outline">My Profile</summary>
            <div class=card style="margin-top: 1rem">
              <p><a href="/account">Edit</a></p>
              <hr/>
              <%= link_to 'Sign out', 'logout', :method => :delete, :class => 'text-error' %>
            </div>
          </details>
        </div>
      </div>
    <% else %>
      <a class="active" href="#">Home</a>
      <a href="#">Features</a>
      <a href="#">Documentation</a>
      <div class="nav-right">
        <div style="padding: 1rem">
          <a class="button primary" href="/login">Sign in</a>
        </div>
      </div>
    <% end %>
  </nav>
  <div class="page-content">
    <%= yield %>
  </div>
  <div class="nc-footer">
    <h6>2022 NextCalendar</h6>
  </div>
</div>
</body>
</html>
