<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "application" %>
  <title>GroupCalendarServerr</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/chota@latest">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>

<body>
<%= stylesheet_link_tag "common" %>
<div class="nav-container">
  <nav class="nav">
    <a class="brand" style="width: auto;" href="#">Group Calendar</a>
    <a class="active" href="#">Home</a>
    <a href="#">Features</a>
    <a href="#">Documentation</a>
    <div class="nav-right">
      <% if user_signed_in? %>
        <%= link_to 'Sign out', 'logout', :method => :delete, :class => 'button primary outline' %>
      <% else %>
        <a class="button primary" href="/login">Sign in</a>
      <% end %>
    </div>
  </nav>
  <div class="page-content">
    <%= yield %>
  </div>
</div>
</body>
</html>
